body {
  margin: 0;
  font-family: sans-serif;
  background: #111;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

canvas {
  background-color: #222;
  border: 2px solid limegreen;
  margin-top: 20px;
}

button {
  margin-top: 15px;
  padding: 10px 20px;
  font-size: 16px;
  background: #28a745;
  color: white;
  border: none;
  border-radius: 6px;
}